/*HEADER*/
header {
  background-image:url('banner.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  color: white;
  position: relative;
}
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font:sans-serif;
}
nav {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  align-items: center;
  text-align: center;
  bottom:5%;
  left:30%;
  right: 30%;
}
header h2{
  color:aqua;
  font-family: 'Marck Script';
  font-size: 72px;
  margin: 0px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}
/*MAIN*/
.about-myself{
  width: 60%;
  margin: 110px auto;
}  
.about-myself h1{
  font-size: 3em;
  color: aqua;
}
.about-myself p{
  color: white;
  padding: 20px;
  font-size: 18px;
}
/*------------------------------------------*/
.format-container {
  width: 60%;
  margin: 0 auto;
}
.format-container h1{
    font-size: 3em;
  color: aqua;
}
body {
  background-color: black;
}

.courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}

.courses-item_link:hover,
.courses-item_link:hover .courses-item_tech {
  text-decoration: none;
  color: #FFF;
}

.courses-item_link:hover .courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.courses-item_title {
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.courses-item_content{
  color:white;
  font-size: 14px;
  font-weight: normal;
}


.courses-item_tech-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.courses-item_tech {
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.courses_item:nth-child(2n) .courses-item_bg {
  background-color: #3ecd5e;
}
.courses_item:nth-child(3n) .courses-item_bg {
  background-color: #e44002;
}
.courses_item:nth-child(4n) .courses-item_bg {
  background-color: #952aff;
}
.courses_item:nth-child(5n) .courses-item_bg {
  background-color: #cd3e94;
}
.courses_item:nth-child(6n) .courses-item_bg {
  background-color: #4c49ea;
}

.format-container i{
  color: #FFF;
}

@media only screen and (max-width: 979px) {
  .courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .courses-item_link {
    padding: 22px 40px;
  }
  .courses-item_tech-box {
    font-size: 16px;
  }
}
/*FOOTER*/
footer{
  background-color: #111;
}
.format-container-footer{
  padding: 70px 30px 20px;
}

.social-Icons{
  display: flex;
  justify-content: center;
}
.social-Icons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 20px;
  border-radius: 50%;
}
.social-Icons i{
  color: black;
  font-size: 2em;
  opacity: 0.9;
}
/*hover social media*/
.social-Icons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.social-Icons i:hover{
  color: white;
  transition: 0.5s;
}

.footer-nav{
  margin: 30px 0;
}
.footer-nav ul{
  display: flex;
  justify-content: center;
}

.footer-nav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.5;
  transition: 0.5s;
}
.footer-nav ul li a:hover{
  opacity: 1;
}

.footer-bottom{
  background-color: black;
  padding: 20px;
  text-align: center;
}
.footer-bottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media only screen and (max-width: 700px){
  .footer-nav ul{
    flex-direction: column;
  }
  .footer-nav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
